<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
		<script src="./js/socket.io.js"></script>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div id="world"></div>
		<div id="loading">
			Loading..
			<div id="loadingBar">
			</div>
		</div>
		<div id="stickzone"></div>
		<div id="attack"></div>
		<div id="rabySkill">
			<div id="mask"></div>
		</div>
		<div id="gameover">
			你被击败了,刷新重新开始吧 ！
		</div>
		<div id="landscape">
			请横屏食用哦 ！
		</div>
		<div id="qr">
			请配合手机食用哦 ！
			<img src="/img/qr.png" />
		</div>
		<div id="landscape">
			请横屏食用哦 ！
		</div>
	</body>
	<script type="text/javascript" src="/dist/bundle.js" ></script>
</html>
